<h1>Signin</h1>
<form action="users/create" method="POST">
    
    <input type="email" name="email" placeholder="Enter You're Email">
    <input type="password" name="password" placeholder="Enter You're Password">
    <input type="submit" value="Signin">
</form>